@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.dropdown-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  position: relative;

  .dropdown-label {
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 25px;
  }

  .dropdown {
    display: flex;
    align-items: center;
    width: 150px;
    height: 20px;
    padding: 10px;
    cursor: pointer;
    background: $white;
    border: 1px solid $border-grey;
    position: relative;
    user-select: none;

    &.open {
      background: darken($white, 2%);
    }

    .dropdown-options {
      display: none;
      position: absolute;
      top: 25px;
      left: -1px;
      border: 1px solid $border-grey;
      width: 100%;
      padding: 0;
      max-height: 150px;
      overflow-y: scroll;
      background: $white;
      z-index: 1;
      font-size: 14px;

      &.open {
        display: block;
      }

      .dropdown-option {
        list-style-type: none;
        padding: 2px;

        &.active {
          font-weight: bold;
        }

        &:hover {
          background: darken($white, 3%);
        }

        @include mobile {
          padding: 4px;
        }
      }

      @include mobile {
        top: 16px;
        font-size: 12px;
      }
    }

    @include mobile {
      height: 10px;
      width: 130px;
    }
  }

  i {
    position: absolute;
    right: 5px;
    top: 12px;
    font-size: 18px;
    pointer-events: none;

    @include mobile {
      top: 8px;
    }
  }

  @include mobile {
    margin-bottom: 15px;
    font-size: 12px;
  }
}