@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.tabs-container {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  background: $background-grey;
  align-self: stretch;

  .tab {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid $border-grey;
    padding: 10px;
    margin: 0 8px;
    cursor: pointer;
    border-radius: 3px 3px 0 0;
    width: 140px;
    font-size: 14px;
    z-index: 1;
    box-shadow: $box-shadow;
    letter-spacing: 0.4px;

    > span {
      flex: 1;
    }

    i {
      font-size: 18px;
    }

    &:hover {
      background: darken($background-grey, 2%);
    }

    &.active {
      font-weight: bold;
      background: $white;
      border-bottom-color: $white;
    }

    @include mobile-large {
      font-size: 12px;
      padding-left: 5px;

      i {
        font-size: 14px;
      }
    }
  }
}

.tab-divider {
  border-top: 1px solid $border-grey;
  position: relative;
  top: -1px;
  margin-bottom: 25px;
  width: 100%;
}