@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.match-info-container {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid $border-grey;
  width: 500px;
  height: 110px;
  position: relative;
  box-shadow: $box-shadow;

  &:after {
    content: '';
    position: absolute;
    left: -1px;
    top: 0;
    display: block;
    width: 5px;
    height: 100%;
  }

  &.win:after {
    background: $win-green;
  }

  &.loss:after {
    background: $loss-red;
  }

  &.draw:after {
    background: $draw-yellow;
  }

  &.scheduled:after {
    background: transparent;
  }

  .match-status {
    padding: 7px;
    font-size: 14px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;

    &.finished {
      color: $finished-green;
      border-color: $finished-green;
    }

    &.scheduled {
      color: $scheduled-blue;
      border-color: $scheduled-blue;
    }

    &.postponed {
      color: $postponed-orange;
      border-color: $postponed-orange;
    }

    &.paused {
      color: $paused-blue;
      border-color: $paused-blue;
    }

    &.in_play {
      color: $inplay-orange;
      border-color: $inplay-orange;
      animation: blink 3s infinite;
    }

    &.canceled {
      color: $canceled-red;
      border-color: $canceled-red;
    }

    @include mobile {
      padding: 3px;
      font-size: 12px;
    }

    @include mobile-small {
      font-size: 10px;
    }
  }

  .match-info-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    p {
      font-size: 14px;
      margin-bottom: 5px;

      @include mobile {
        margin-bottom: 0;
        padding: 0 5px;
      }

      @include mobile-small {
        font-size: 11px;
      }
    }

    a {
      font-size: 14px;
      flex: 1;
      margin-top: 8px;
      color: $link-blue;

      &:hover {
        text-decoration: underline;
      }

      @include mobile {
        margin-top: 0;
      }

      @include mobile-small {
        margin-top: 0;
        font-size: 11px;
      }
    }

    .matchday {
      flex: 1;
    }

    @include mobile {
      margin-top: 5px;
    }
  }

  .match-result {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;

    a {
      flex: 1;
    }

    .team-name {
      font-weight: normal;

      &.winner {
        font-weight: bold;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .score-block {
      display: flex;
      width: 60px;
      justify-content: space-between;
      background: $score-background;
      padding: 0 10px;
      margin: 0 5px;

      .score {
        font-size: 26px;

        @include mobile {
          font-size: 22px;
        }

        @include mobile-small {
          font-size: 20px;
        }
      }

      @include mobile {
        width: 50px;
        padding: 0 5px;
      }
    }

    @include mobile {
      font-size: 14px;
    }

    @include mobile-small {
      font-size: 12px;
    }
  }

  @include mobile {
    width: 400px;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
  }

  @include mobile-small {
    width: 265px;
    height: 90px;
  }
}

@keyframes blink {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}
