@import '../../styles/variables.scss';

.match-info-container {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid $border-grey;
  width: 500px;
  height: 100px;
  position: relative;
  box-shadow: $box-shadow;

  &:after {
    content: '';
    position: absolute;
    left: -1px;
    top: 0;
    display: block;
    width: 5px;
    height: 100%;
  }

  &.win:after {
    background: $win-green;
  }

  &.loss:after {
    background: $loss-red;
  }

  &.draw:after {
    background: $draw-yellow;
  }

  &.scheduled:after {
    background: transparent;
  }

  .match-status {
    &.finished {
      color: $finished-green;
    }

    &.scheduled {
      color: $scheduled-blue;
    }
  }

  .match-info-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    p {
      font-size: 14px;
      margin-bottom: 5px;
    }

    a {
      font-size: 14px;
      flex: 1;
      margin-top: 5px;
      color: $link-blue;

      &:hover {
        text-decoration: underline;
      }
    }

    .matchday {
      flex: 1;
    }
  }

  .match-result {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;

    a {
      flex: 1;
    }

    .team-name {
      font-weight: normal;

      &.winner {
        font-weight: bold;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .score-block {
      display: flex;
      width: 60px;
      justify-content: space-between;
      background: $score-background;
      padding: 0 10px;

      .score {
        font-size: 26px;
      }
    }
  }
}
