// colors
$white: #ffffff;
$border-grey: #848e96;
$background-grey: #f5f5f5;
$text-grey: #565252;
$header-background: #378205;
$table-background: #eaecec;
$divider-color: #5f5e5e;
$favorite-button-color: #48a278;
$box-shadow-color: rgba(0, 0, 0, 0.2);
$score-background: #f1f1f1;
$win-green: #27a027;
$loss-red: #dc4444;
$draw-yellow: #fbe127;
$link-blue: #3d3dc1;
$finished-green: #28a745;
$scheduled-blue: #1e1ee2;

// others
$box-shadow: 1px 0 0 0 $box-shadow-color;