$border-grey: #848e96;
$footer-grey: #f5f5f5;
$text-grey: #676767;
$header-black: #4a4848;
$header-background: #d0e0ef;
$table-background: #eaecec;
$divider-color: #5f5e5e;
$favorite-button-color: #48a296;
