@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.competitions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 50px;

  a {
    display: block;
    padding: 15px;
    margin: -15px;
    height: 100%;
    width: 100%;
  }

  .competition-card {
    padding: 15px;
    border: 1px solid $border-grey;
    flex-basis: 12%;
    margin-bottom: 20px;
    height: 180px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.08);
      box-shadow: $box-shadow;
      
      .competition-image {
        transform: scale(1.08);
      }
    }

    .competition-image {
      width: 100px;
      height: 100px;
      transition: all 0.3s ease;
      margin-top: 10px;

      @include mobile-large {
        width: 80px;
        height: 80px;
      }
    }

    .competition-card-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $background-grey;
      font-size: 13px;
      padding: 10px;

      .competition-name {
        font-weight: bold;
        margin-bottom: 2px;
      }
    }

    @include mobile {
      flex-basis: 40%;
    }

    @include tablet {
      flex-basis: 20%;
    }

    @include mobile-large {
      width: 265px;
      padding: 10px;
      height: 160px;
    }
  }

  @include mobile-large {
    flex-direction: column;
    margin: 0 10px;
  }

  @include tablet {
    margin: 0 20px;
  }
}
