@import '../../styles/variables.scss';

.team-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 100px;
    height: 100px;
  }

  .info-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 14px;

    .info-text {
      font-weight: bold;
      padding-right: 5px;
    }

    .color-ball {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid black;
      margin: 0 10px 0 5px;
    }
  }

  .squad {
    .position-divider {
      margin: 12px;
      padding: 5px;

      &:not(:first-child) {
        border-top: 1px solid $divider-color;
      }

      .player-info {
        margin: 5px;

        .shirt-number {
          font-size: 12px;
          margin: 0 5px;
          padding: 3px;
        }
      }
    }
  }

  .text-wrapper > p {
    font-size: 18px;
  }
}

.followed-teams-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;

  .followed-team {
    width: 420px;
    border: 1px solid $border-grey;
    border-radius: 3px;
    padding: 15px;
    cursor: pointer;
    box-shadow: $box-shadow;

    &:hover {
      background: darken($white, 2%);
    }

    .followed-team-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
      }

      i {
        user-select: none;
        transition: transform 0.2s ease-in-out;
      }
    }

    .followed-team-content {
      display: none;
      margin-top: 10px;
      margin-bottom: -10px;
      border-top: 1px solid $border-grey;

      .followed-team-link {
        font-size: 14px;
        color: $link-blue;
        float: right;

        &:hover {
          text-decoration: underline;
        }
      }

      .latest-match, .next-match {
        > span {
          display: inline-block;
          font-weight: bold;
          margin: 10px;
          text-decoration: underline;
        }
      }

      .match-info-container {
        width: unset;
        height: unset;

        .match-status {
          font-size: 12px;
          padding: 5px;
        }

        .match-info-header {
          a {
            font-size: 12px;
          }
        }
      }
    }

    &.active {
      .followed-team-content {
        display: block;
      }

      i {
        transform: rotate(180deg);
      }
    }
  }
}
