@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.standings-table-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

  table {
    padding: 10px;
    border: 1px solid $border-grey;
    border-radius: 3px;
    border-spacing: 0;
    width: 750px;
    font-size: 14px;

    tr {
      border: 1px solid $border-grey;
    }

    th {
      padding: 5px;
    }

    .group-identifier {
      font-size: 12px;
    }

    tbody {
      tr {
        &:nth-child(even) {
          background: $table-background;

          &:hover {
            background: darken($table-background, 2%);
          }
        }

        td {
          padding: 7px;
          width: 5%;

          &:nth-child(2) {
            width: 25%;
          }
        }

        td:last-child {
          font-weight: bold;
        }

        .team-name-block {
          display: flex;
          justify-content: flex-start;

          img {
            height: 24px;
            width: 24px;
            margin-right: 12px;

            @include mobile-large {
              height: 15px;
              width: 15px;
              margin-right: 10px;
            }
          }

          .fallback-crest {
            opacity: 0.4;
          }
        }

        &:hover {
          background: darken(#fff, 2%);
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
