@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.standings-table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;

  table {
    padding: 10px;
    border: 1px solid $border-grey;
    border-radius: 3px;
    border-spacing: 0;
    width: 750px;
    font-size: 14px;

    @include mobile {
      width: 480px;
      font-size: 12px;
    }

    @include mobile-large {
      width: 350px;
    }

    @include mobile-small {
      width: 300px;
      padding: 5px;
    }

    tr {
      border: 1px solid $border-grey;
    }

    th {
      padding: 5px;
    }

    .group-identifier {
      font-size: 12px;

      @include mobile {
        width: 10%;
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background: $table-background;

          &:hover {
            background: darken($table-background, 2%);
          }
        }

        td {
          padding: 7px;
          width: 5%;
          
          &:nth-child(2) {
            width: 25%;
          }

          &.no-position {
            border-left: 3px solid $white;
          }

          &.top-position {
            border-left: 3px solid $top-position-blue;
          }

          &.lower-top-position {
            border-left: 3px solid $lower-top-position-orange;
          }

          &.mid-position {
            border-left: 3px solid $mid-position-green;
          }

          &.upper-bottom-position {
            border-left: 3px solid $upper-bottom-position-yellow;
          }

          &.bottom-position {
            border-left: 3px solid $bottom-position-red;
          }
        }

        td:last-child {
          font-weight: bold;
        }

        .team-name-block {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          img {
            height: 24px;
            width: 24px;
            margin-right: 12px;

            @include mobile-large {
              height: 15px;
              width: 15px;
              margin-right: 10px;
            }

            @include mobile-small {
              margin-right: 5px;
            }
          }

          .fallback-crest {
            opacity: 0.4;
          }

          a {
            white-space: nowrap;
            &:hover {
              text-decoration: underline;
            }
          }
        }

        &:hover {
          background: darken(#fff, 2%);
        }
      }
    }
  }

  .position-indicators-wrapper {
    margin-top: 15px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid $border-grey;
    font-size: 14px;
    width: 280px;

    @include mobile {
      font-size: 12px;
    }

    .indicator {
      display: flex;
      align-items: center;
      padding: 2px;

      .color-ball {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
  }
}
