@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header {
  display: flex;
  justify-content: flex-start;
  background: $header-background;
  padding: 25px 50px;
  
  h1 {
    margin: 0;
    color: $white;
    font-size: 38px;

    &:hover {
      color: darken($white, 5%);
    }

    @include mobile {
      font-size: 34px;
    }

    @include mobile-small {
      font-size: 30px;
    }
  }
}