@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.scorers-table-wrapper {
  display: flex;
  justify-content: center;

  .scorers-table {
    padding: 10px;
    border: 1px solid $border-grey;
    border-radius: 3px;
    border-spacing: 0;
    font-size: 14px;
    width: 600px;

    tr {
      border: 1px solid $border-grey;
    }

    th {
      padding: 5px;
    }

    tbody {
      tr {
        td {
          padding: 7px;

          &:last-child {
            font-weight: bold;
          }

          a {
            white-space: nowrap;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      tr:not(:last-child) {
        td {
          border-bottom: 1px solid $border-grey;
        }
      }
    }

    @include mobile-large {
      font-size: 12px;
      width: 300px;
      padding: 5px;
    }
  }
}
