@import './styles/mixins.scss';

.app {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  min-height: 100%;
  padding-bottom: 75px;

  @include mobile {
    padding-bottom: 50px;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}
